.categoriesCont {
  margin: 1rem;
  display: flex;
  align-self: center;
}

.categories {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  align-self: center;
  display: flex;
  padding: 5% 0;
  text-decoration: underline;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .categoriesCont {
    margin: 2.375rem 6.25rem 2.375rem 6.25rem;
  }
}
